@font-face {
  font-family: JoeHand;
  src: url("fonts/JoeHand-Regular.woff");
}
body {
  font-family: "JoeHand", sans-serif;
  color: white;
  background-color: #383838;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.1em;

}
h1 {
  width: 100%;
  margin: 20px 0 1em 0;
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
}
.title {
  cursor: pointer;
}
h2 {
  margin: .5em 0;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: left;
}
p {
  margin: 0;
}
button{
  font-family: "JoeHand", sans-serif;
  flex: auto;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
input {
  font-size: 2rem;
  padding: 5px;
  border-radius: 10px;
}
label {
  font-size: 2rem;
  margin: 10px;
}
table {
  text-align: center;
  border-spacing: 10px;
  border-collapse: separate;
}
tr {
  width: 100%;
}

.container {
  background-color: #484848;
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}
.icon {
  height: 1.5em;
  margin-bottom: -0.5em;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.full-width {
  width: 100%;
}
.button-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.button-holder > button {
  padding: 20px;
  margin: 5px;
}
.green-button {
  background-color: green;
  font-weight: bold;
  color: white;
}
.green-button:disabled {
  background-color: DimGrey;
  cursor: not-allowed;
  color:DarkSlateGrey;
}
.red{
  color:red;
}
.green{
  color:green;
}
.red-button {
  background-color: red;
  font-weight: bold;
  color: white;
}
#cricket-start, #new-cricket {
  display: flex;
  justify-content:flex-end;
}
#cricket-start > * {
  flex-grow: 0;
  padding: 10px;
}
#new-cricket > * {
  flex-grow: 0;
  padding: 10px;
}
#player-count{
  width: 4rem;
  height: 4rem;
}
#player-holder {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#loading-gif{
  height: 3rem;
  width: 3rem;
}
.x-button {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: -2rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: white;
  color:red;
}
.player {
  position: relative;
  margin: 1rem;
  width: 230px;
}
.player > p {
  margin: .5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
}
.player > p > span {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.button-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: .25rem 0;
}
.button-row > button {
  background-color: red;
  color: white;
}
.button-row > button:disabled {
  background-color: DimGrey;
  cursor: not-allowed;
}
.button-row > * {
  margin: 0 .25rem;
}
.small-button {
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
}
.big-button {
  height: 4rem;
  min-width: 4rem;

}
.done-button {
  height: 4rem;
  flex-grow: 10;
}
.hitcounter {
  text-align: center;
  font-family: "JoeHand", sans-serif;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  background-color: #383838;
  color: white;
}

.copyright {
  font-size: .7rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 3px;
}
.name-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}
.name-label {
  display: block;
  text-align: center;
  margin: .5rem;
}
.name-input {
  margin: -.25rem 0 0 3rem;
  padding: 5px;
  max-width: 200px;
  flex-grow: 0;
  z-index: 1;
}
.name-button {
  background-color: green;
  color: white;
  padding: 5px;
  margin: 0;
  height: 3rem;
  width: 3rem;
  flex-grow: 0;
}
.blocker, .loading {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up {
  position: relative;
  background-color: #383838;
  align-items: center;
  justify-content: center;
  max-height: 90%;
  max-width: 90%;
  overflow: auto;
}
.pop-up > div {
  display: grid;
  margin: 2rem;
}
.pop-up > div > button {
  margin: 0.25rem;
  padding: .5rem;
}
.pop-up > div > h2 {
  text-align: center;
}
.points-holder {
  width: 100% !important;
  font-size: 1.5em;
  line-height: 1.2;
  margin: .25rem 0 0 0;
}

@media only screen and (max-width: 600px) {
  .button-holder {
    display:block;
  }
  .button-holder > button {
    display: block;
    margin: 5px auto;
    width: calc(100% - 10px);
  }
}
