@font-face {
  font-family: JoeHand;
  src: url("/fonts/JoeHand-Regular.woff");
}
* {
  box-sizing: border-box
}
body {
  font-family: "JoeHand", sans-serif;
  color: white;
  background-color: #383838;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.1em;

}
h1 {
  width: 100%;
  margin: 20px 0 1em 0;
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
}
.title {
  cursor: pointer;
}
h2 {
  margin: 1em 0;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
}
p {
  margin: 0;
}
button{
  font-family: "JoeHand", sans-serif;
  flex: auto;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
input {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}
label {
  font-size: 2rem;
  margin: 10px;
}
.container {
  background-color: #484848;
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}
.icon {
  height: 1.5em;
  margin-bottom: -0.5em;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.full-width {
  width: 100%;
}
.button-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.button-holder > button {
  padding: 20px;
  margin: 5px;
}
.green-button {
  background-color: green;
  font-weight: bold;
  color: white;
}
#cricket-start {
  display: flex;
  justify-content: center;
}
#cricket-start > * {
  flex-grow: 0;
  padding: 10px;
}
#player-count{
  width: 4rem;
  height: 4rem;
}
#player-holder {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.player {
  margin: 1rem;
  min-width: 200px;
}
.player > label {
  width: 100%;
  display: block;
  margin: .5rem;
}
.player > p {
  margin: .5rem;
}
.button-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: .25rem 0;
}
.button-row > button {
  flex-grow: 0;
  background-color: red;
  color: white;
}
.button-row > * {
  margin: 0 .25rem;
}
.small-button {
  width: 3rem;
  height: 3rem;
}
.big-button {
  width: 4rem;
  height: 4rem;
}
.done-button {
  height: 4rem;
}
.tracker:disabled,
.tracker[disabled] {
  text-align: center;
  font-family: "JoeHand", sans-serif;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  background-color: #383838;
  color: white;
}

.copyright {
  font-size: .7rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 3px;
}
@media only screen and (max-width: 600px) {
  .button-holder {
    display:block;
  }
  .button-holder > button {
    display: block;
    margin: 5px auto;
    width: calc(100% - 10px);
  }
}
